div{
margin-top: 250px;
margin-left: 530px;
width:200px;

}
img{
margin-top: 200px;
  margin-left: 430px;


 height:200px;
  width:400px;
}
.btn{
  margin-left: 530px;
}
body{
  background-color: white;
  background-image: url("Bank.jpg");
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
