body{
  background-image: url("Bank.jpg");
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

div{
margin-top: 230px;
margin-left: 530px;
width:200px;


}

.btn{
  margin-left: 530px;

}

.signup{
  text-decoration-color: black;
  
  margin-top:0px;
  margin-left:530px;
}
